body, html{
    height: 100%;
    overflow: hidden;
}

body{
    perspective: 500px;
    perspective-origin: center center;
    background: #1c0404;
}

.count{
    position: absolute;
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    margin: auto;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 15s infinite linear;
}
.side{
    width: 200px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    border-radius: 5%;
}

.first{
    transform: translateZ(-100px);
}
.sixth{
    transform: translateZ(100px);
}
.second{
    transform: translatey(-100) rotateX(90deg);
}
.third{
    transform: translateY(100px) rotateX(90deg);
}
.fourth{
    transform: translatex(-100) rotateY(90deg);
}
.fifth{
    transform: translateX(100px) rotateY(90deg);
}

.side span{
    position: absolute;
    top: 37%;
    left: 37%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background: #fff;
}