body, html{
    height: 100%;
    overflow: hidden;
}

body{
    perspective: 500px;
    perspective-origin: center center;
    background: #1c0404;
}

.count{
    position: absolute;
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    margin: auto;
    width: 200px;
    height: 200px;
    
}